<!doctype html>
<html lang="en">
  <head>
    <title>Deejao</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Mukta+Mahee:200,300,400|Playfair+Display:400,700" rel="stylesheet">

    <link rel="stylesheet" href="villa-master/css/bootstrap.css">
    <link rel="stylesheet" href="villa-master/css/animate.css">
    <link rel="stylesheet" href="villa-master/css/owl.carousel.min.css">
    <link rel="stylesheet" href="villa-master/css/aos.css">
    
    <link rel="stylesheet" href="villa-master/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="villa-master/fonts/fontawesome/css/font-awesome.min.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="villa-master/css/style.css">
  </head>
  <body>
    
    <header class="site-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-4 site-logo" data-aos="fade"><a href="/"><em>Deejao</em></a></div>
          <div class="col-8">


            <div class="site-menu-toggle js-site-menu-toggle"  data-aos="fade">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <!-- END menu-toggle -->

            <div class="site-navbar js-site-navbar">
              <nav role="navigation">
                <div class="container">
                  <div class="row full-height align-items-center">
                    <div class="col-md-6">
                      <ul class="list-unstyled menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="about">About</a></li>
                        <li><a href="chiangmai">Chiangmai</a></li>
                        <li class="active"><a href="covid">Covid-19</a></li>
                      </ul>
                    </div>
                    <div class="col-md-6 extra-info">
                      <div class="row">
                        <div class="col-md-6 mb-5">
                          <h3>Contact Info</h3>
                          <p>126/1 Vibhavadi Rangsit Rd, Ratchadaphisek Din Daeng, Bangkok 10400</p>
                          <p>utccsmart@gmail.com</p>
                          <p>02-697-6000</p>
                          
                        </div>
                        <div class="col-md-6">
                          <h3>Connect With Us</h3>
                          <ul class="list-unstyled">
                            <li><a href="login">Login</a></li>
                            <li><a href="register">Register</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- END head -->

    <section class="site-hero overlay page-inside" style="background-image: url(/images/img-bg.jpg)">
      <div class="container">
        <div class="row site-hero-inner justify-content-center align-items-center">
          <div class="col-md-10 text-center">
            <h1 class="heading" data-aos="fade-up">Register</h1>
            <p class="sub-heading mb-5" data-aos="fade-up" data-aos-delay="100">มีบัญชีเเล้วใช่มั้ย <a href="login"> ลงชื่อเข้าใช้ </a></p>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    
    <section class="section bg-primary contact-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            
            <form action="/register/registerAcc" role="form" method="POST" class="bg-white p-md-5 p-4 mb-5" style="margin-top: -150px;">
              <div class="row">
                <div class="form-group">
                  <label class="col-md-6 form-group" for="name">Name:</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Enter first-name">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-6 form-group" for="email">Email:</label>
                  <div class="col-md-10">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter E-mail">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-6 form-group" for="password">Password:</label>
                  <div class="col-md-10">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password">
                  </div>
                </div>
                <div class="form-group"> 
                  <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                  </div>
              </div>
            </form>
          </div>
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-10 ml-auto contact-info">
                <p><span class="d-block">Address:</span> <span> 126/1 Vibhavadi Rangsit Rd, Ratchadaphisek Din Daeng, Bangkok 10400</span></p>
                <p><span class="d-block">Phone:</span> <span> 02-697-6000</span></p>
                <p><span class="d-block">Email:</span> <span> utccsmart@gmail.com</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <footer class="section footer-section">
      <div class="container">
        <div class="row mb-4">
          <div class="col-md-3 mb-5">
            <ul class="list-unstyled link">
              <li><a href="/">Home</a></li>
              <li><a href="chiangmai">Chiangmai</a></li>
              <li><a href="covid">Covid-19</a></li>
            </ul>
          </div>
          <div class="col-md-3 mb-5">
            <ul class="list-unstyled link">
              <li><a href="login">Login</a></li>
              <li><a href="register">Register</a></li>
            </ul>
          </div>
          <div class="col-md-3 mb-5 pr-md-5 contact-info">
            <p><span class="d-block">Address:</span> <span> 126/1 Vibhavadi Rangsit Rd, Ratchadaphisek Din Daeng, Bangkok 10400</span></p>
            <p><span class="d-block">Phone:</span> <span> 02-697-6000</span></p>
            <p><span class="d-block">Email:</span> <span> utccsmart@gmail.com</span></p>
          </div>
        </div>
        <div class="row bordertop pt-5">
          <p class="col-md-6 text-left"><a>ท่องเที่ยวปลอดภัยห่างไกลโควิด</a></p>
        </div>
      </div>
    </footer>
    
    <script src="villa-master/js/jquery-3.2.1.min.js"></script>
    <script src="villa-master/js/popper.min.js"></script>
    <script src="villa-master/js/bootstrap.min.js"></script>
    <script src="villa-master/js/owl.carousel.min.js"></script>
    <script src="villa-master/js/jquery.waypoints.min.js"></script>
    <script src="villa-master/js/aos.js"></script>
    <script src="villa-master/js/main.js"></script>
  </body>
</html>