<!doctype html>
<html lang="en">
  <head>
    <title>Deejao</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Mukta+Mahee:200,300,400|Playfair+Display:400,700" rel="stylesheet">

    <link rel="stylesheet" href="villa-master/css/bootstrap.css">
    <link rel="stylesheet" href="villa-master/css/animate.css">
    <link rel="stylesheet" href="villa-master/css/owl.carousel.min.css">
    <link rel="stylesheet" href="villa-master/css/aos.css">
    
    <link rel="stylesheet" href="villa-master/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="villa-master/fonts/fontawesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mitr&display=swap" rel="stylesheet">

    <!-- Theme Style -->
    <link rel="stylesheet" href="villa-master/css/style.css">
  </head>
  <body>
    
    <header class="site-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-4 site-logo" data-aos="fade"><a href="/"><em>Deejao</em></a></div>
          <div class="col-8">


            <div class="site-menu-toggle js-site-menu-toggle"  data-aos="fade">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <!-- END menu-toggle -->

            <div class="site-navbar js-site-navbar">
              <nav role="navigation">
                <div class="container">
                  <div class="row full-height align-items-center">
                    <div class="col-md-6">
                      <ul class="list-unstyled menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="chiangmai">Chiangmai</a></li>
                        <li><a href="covid">Covid-19</a></li>
                      </ul>
                    </div>
                    <div class="col-md-6 extra-info">
                      <div class="row">
                        <div class="col-md-6 mb-5">
                          <h3>Contact Info</h3>
                          <p>126/1 Vibhavadi Rangsit Rd, Ratchadaphisek Din Daeng, Bangkok 10400</p>
                          <p>utccsmart@gmail.com</p>
                          <p>02-697-6000</p>
                          
                        </div>
                        <div class="col-md-6">
                          <h3>Connect With Us</h3>
                          <ul class="list-unstyled">
                            <li><a href="login">Login</a></li>
                            <li><a href="register">Register</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- END head -->

    <section class="site-hero overlay page-inside" style="background-image: url(images/img-bg1.jpg)">
      <div class="container">
        <div class="row site-hero-inner justify-content-center align-items-center">
          <div class="col-md-10 text-center">
            <h3 class="heading" data-aos="fade-up">บ้านแม่กำปอง</h3>
            <p class="sub-heading mb-5" data-aos="fade-up" data-aos-delay="100">Mae Kampong</p>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    <section class="bg-light">
      <div class="half d-md-flex d-block">
        <div class="image" data-aos="fade" style="background-image: url('/images/แม่กำปอง2.jpg');"></div>
        <div class="text" data-aos="fade-right" data-aos-delay="200">
          <h3>บ้านแม่กำปอง</h3>
          
          <p> หนึ่งใน ที่เที่ยวเชียงใหม่ สุดสโลว์ไลฟ์ ภาพของหมู่บ้านเล็กๆ ในหุบเขาที่เงียบสงบ ทำให้หลายคนหลงใหล และเก็บกระเป๋าเดินทางมาใช้ชีวิตแบบเนิบช้าที่หมู่บ้านแห่งนี้กันไม่ขาดสายค่ะ</p>
          <p>ที่บ้านแม่กำปองจะเป็นชุมชนเล็กๆ ที่เต็มไปด้วยธรรมชาติ และวิถีชีวิตของชาวบ้านในพื้นที่ มีโฮมสเตย์ไม่มากนัก ให้นักท่องเที่ยวได้ไปนอนฟังเสียงธรรมชาติ ท่ามกลางขุนเขา สัมผัสอากาศหนาวเย็นตลอดทั้งปี</p>
        </div>
      </div>

      <div class="half d-md-flex d-block">
        <div class="image order-2" data-aos="fade"  style="background-image: url('/images/แม่กำปอง3.jpg');"></div>
        <div class="text" data-aos="fade-left" data-aos-delay="200">
          <h2>Address</h2><br>
          
          <ul>ที่อยู่ : ตำบลห้วยแก้ว อำเภอแม่ออน จังหวัดเชียงใหม่ </ul>
          <ul>พิกัด : https://g.page/maekhumpong?share </ul>
          <ul> เปิดให้เข้าชม : เวลาเปิด-ปิด แตกต่างกันออกไปในแต่ละร้านค้า</ul>
          <ul>โทร : - </ul>
          <ul>เว็บไซต์ : - </ul>
        </div>
      </div>
    </section>
    <!-- END section -->

    <section class="section slider-section">
      <div class="container">
        <div class="row justify-content-center text-center mb-5">
          <div class="col-md-8">
            <h3 class="heading" data-aos="fade-up">บ้านแม่กำปอง</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="home-slider major-caousel owl-carousel mb-5" data-aos="fade-up" data-aos-delay="200">
              <div class="slider-item">
                <img src="/images/แม่กำปอง.jpg" alt="Image placeholder" class="img-fluid">
              </div>
              <div class="slider-item">
                <img src="/images/img-บ้านแม่2.jpg" alt="Image placeholder" class="img-fluid">
              </div>
              <div class="slider-item">
                <img src="/images/img-บ้านแม่3.jpg" alt="Image placeholder" class="img-fluid">
              </div>
              <div class="slider-item">
                <img src="/images/img-บ้านแม่4.jpg" alt="Image placeholder" class="img-fluid">
              </div>
              <div class="slider-item">
                <img src="/images/img-บ้านแม่5.jpg" alt="Image placeholder" class="img-fluid">
              </div>
              <div class="slider-item">
                <img src="/images/img-บ้านแม่6.jpg" alt="Image placeholder" class="img-fluid">
              </div>
            </div>
            <!-- END slider -->
          </div>

          <div class="col-md-12 text-center"><a href="#" class="">View More Photos</a></div>
        
        </div>
      </div>
    </section>
    <!-- END section -->
    
    <section class="section recommend-entry bg-pattern">
      <div class="container">
        <div class="row justify-content-center text-center mb-5">
          <div class="col-md-8">
            <h2 class="heading" data-aos="fade-up">Recommend</h2>
            <p class="lead" data-aos="fade-up">สถานที่ท่องเที่ยวแนะนำ</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6 col-12 post" data-aos="fade-up" data-aos-delay="100">

            <div class="media media-custom d-block mb-4">
              <a href="tearly" class="mb-4 d-block"><img src="/images/เออร์ลี่มอร์นิ่ง.jpg" alt="Image placeholder" class="img-fluid"></a>
              <div class="media-body">
                <span class="meta-post">November 15, 2020</span>
                <h3 class="mt-0 mb-3"><a href="tearly">คาเฟ่เออร์ลี่มอร์นิ่ง <br> (Early Morning)</a></h3>
              </div>
            </div>

          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-12 post" data-aos="fade-up" data-aos-delay="200">
            <div class="media media-custom d-block mb-4">
              <a href="#" class="mb-4 d-block"><img src="/images/รถบั๊ก.jpg" alt="Image placeholder" class="img-fluid"></a>
              <div class="media-body">
                <span class="meta-post">November 15, 2020</span>
                <h3 class="mt-0 mb-3"><a href="#">ขับรถบั๊กกี้ตะลุยเส้นทางวิบาก</a></h3>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-12 post" data-aos="fade-up" data-aos-delay="300">
            <div class="media media-custom d-block mb-4">
              <a href="tmoi" class="mb-4 d-block"><img src="/images/ถนนช้างม่อย.jpg" alt="Image placeholder" class="img-fluid"></a>
              <div class="media-body">
                <span class="meta-post">November 15, 2020</span>
                <h3 class="mt-0 mb-3"><a href="tmoi">งานสานสุดเก๋ที่ถนนช้างม่อย</a></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->
    <footer class="section footer-section">
      <div class="container">
        <div class="row mb-4">
          <div class="col-md-3 mb-5">
            <ul class="list-unstyled link">
              <li><a href="/">Home</a></li>
              <li><a href="chiangmai">Chiangmai</a></li>
              <li><a href="covid">Covid-19</a></li>
            </ul>
          </div>
          <div class="col-md-3 mb-5">
            <ul class="list-unstyled link">
              <li><a href="login">Login</a></li>
              <li><a href="register">Register</a></li>
            </ul>
          </div>
          <div class="col-md-3 mb-5 pr-md-5 contact-info">
            <p><span class="d-block">Address:</span> <span> 98 West 21th Street, Suite 721 New York NY 10016</span></p>
            <p><span class="d-block">Phone:</span> <span> (+1) 435 3533</span></p>
            <p><span class="d-block">Email:</span> <span> info@yourdomain.com</span></p>
          </div>
        </div>
        <div class="row bordertop pt-5">
          <p class="col-md-6 text-left"><a>ท่องเที่ยวปลอดภัยห่างไกลโควิด</a></p>
        </div>
      </div>
    </footer>
    
    <script src="villa-master/js/jquery-3.2.1.min.js"></script>
    <script src="villa-master/js/popper.min.js"></script>
    <script src="villa-master/js/bootstrap.min.js"></script>
    <script src="villa-master/js/owl.carousel.min.js"></script>
    <script src="villa-master/js/jquery.waypoints.min.js"></script>
    <script src="villa-master/js/aos.js"></script>
    <script src="villa-master/js/main.js"></script>
  </body>
</html>